<!-- Modified copy from the turtlebot stack -->
<?xml version="1.0"?>
<robot name="kobuki"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

<!--
	kobuki with Kinect
-->
    
    <!-- Included URDF Files -->
    <include filename="$(find kobuki_description)/urdf/kobuki_body.urdf.xacro" />
    <include filename="$(find kobuki_description)/urdf/xtion_pro.urdf.xacro" />

    <!-- Body of kobuki, with plates, standoffs, ... -->
    <kobuki_body/>

    <!-- Kinect frames and mounting (includes simulation) -->
    <kobuki_xtion_pro/> 
</robot>