<!--
  The mobile platform base.
  
  This can be used for both simulation and the robot by making sure the simulation arg is set
  true or false respectively.
 -->
<launch>
    <arg name="simulation" default="false"/>
    <node pkg="kobuki_node" type="kobuki_node" name="driver" output="screen">
	    <rosparam file="$(find kobuki_bringup)/resources/yaml/kobuki.yaml" command="load"/>
	    <param name="simulation" value="$(arg simulation)"/>
	    <remap from="driver/odom" to="odom"/>
	    <remap from="driver/imu_data" to="imu_data"/>
	    <remap from="driver/cmd_vel" to="cmd_vel"/>
	    <remap from="driver/enable" to="enable"/>
	    <remap from="driver/disable" to="disable"/>
	    <remap from="driver/joint_states" to="joint_states"/>
    </node>
</launch>

