
<launch>
  <!-- DJS : This xacro needs to be confirmed as turtlebot compatible, see turtlebot_description)/robots/turtlebot.urdf.xacro -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find kobuki_description)/robots/kobuki_kinect.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <!-- DJS : who is using these two parameters? -->
  <param name="robot/name" value="turtlebot2"/>
  <param name="robot/type" value="turtlebot"/>

  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="5.0" />
    <!--param name="tf_prefix" type="string" value="" /-->
  </node>
</launch>
