<!--
  Just puts the kobuki_node in loopback mode so we can run it 
  without having to connect to the devices. Useful for quick hacking without
  the robot.
 -->
<launch>
  <arg name="simulation" value="true"/>
  <param name="/use_sim_time" value="false"/>

  <group ns="kobuki">
    <include file="$(find kobuki_bringup)/resources/launch/components/robot.launch"/>
    <include file="$(find kobuki_bringup)/resources/launch/components/mobile_base.launch">
      <arg name="simulation" value="$(arg simulation)"/>
    </include>
  </group>
</launch>
