<launch>
  <include file="$(find kobuki_softnode)/launch/full.launch"/>

  <node pkg="fake_localization" name="fake_localization" type="fake_localization">
    <remap from="base_pose_ground_truth" to="odom"/>
    <remap from="particlecloud" to="robot_pose"/>
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="mobile_base/commands/velocity"/>
  </node>
</launch>

