<!--
  Before launching this:
    roslaunch kobuki_bringup minimal.launch  
 -->
<launch>
    <!--- Run Kinect -->
    <include file="$(find kobuki_bringup)/resources/launch/components/kinect.launch" />

    <!-- Run the map server -->
    <arg name="map_file" default="$(find kobuki_bringup)/resources/maps/lab.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!--- Run AMCL -->
    <include file="$(find kobuki_bringup)/resources/launch/components/navigation/amcl.launch" />

    <!--- Run Move Base -->
    <include file="$(find kobuki_bringup)/resources/launch/components/navigation/move_base.launch" />
  
</launch>
