<!--
  Before launching this:
    roslaunch kobuki_bringup minimal.launch  
 -->
<launch>
    <!--- Run Kinect -->
    <include file="$(find kobuki_bringup)/resources/launch/components/kinect.launch" />

    <!--- Run gmapping -->
    <include file="$(find kobuki_bringup)/resources/launch/components/navigation/gmapping.launch" />

    <!--- Run Move Base -->
    <include file="$(find kobuki_bringup)/resources/launch/components/navigation/move_base.launch" />
</launch>
