<!-- 
  Control kobuki with turtlebot_teleop. Be careful - it's real bang bang velocity 
  control -> from 0 to 100km/hr in 0.00000s!
 -->
<launch>
    <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen">
      <param name="scale_linear" value="0.5" type="double"/>
      <param name="scale_angular" value="1.5" type="double"/>
    </node>
</launch>
