<!--
  This is a minal turtlebot configuration for the kobuki runtime.
 -->
<launch>
  <arg name="simulation" value="false"/>
  <param name="/use_sim_time" value="false"/>

  <include file="$(find kobuki_bringup)/resources/launch/components/zeroconf.launch"/>
  <include file="$(find kobuki_bringup)/resources/launch/components/robot.launch"/>
  <include file="$(find kobuki_bringup)/resources/launch/components/mobile_base.launch"/>
  <include file="$(find kobuki_bringup)/resources/launch/components/app_manager.launch" />
  <!--  <node pkg="kobuki_node" type="laptop_battery.py" name="laptop_battery_monitor"/>  -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find kobuki_bringup)/resources/yaml/diagnostics.yaml" />
  </node>

</launch>
