<!--
  The mobile platform nodelets.
  
  - goo_base
  - diff_drive_base (simulation)
  - diff_drive_gyro_base (runtime)
  
  This can be used for both simulation and the robot by making sure the simulation arg is set
  true or false respectively.
 -->
<launch>
    <node pkg="nodelet" type="nodelet" name="kobuki_base" args="load kobuki_ros_node/KobukiNodelet nodelet_manager" output="screen">
		<rosparam file="$(find kobukibot)/resources/yaml/kobuki.yaml" command="load"/>
		<remap from="kobuki_base/joint_state/left_wheel"  to="joint_state/wheel_left"/>
		<remap from="kobuki_base/joint_state/right_wheel" to="joint_state/wheel_right"/>
		<remap from="kobuki_base/control_command" to="cmd_vel"/>
		<remap from="kobuki_base/enable" to="enable"/>
		<remap from="kobuki_base/disable" to="disable"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="mobile_base" args="load diff_drive_gyro_base/DiffDriveGyroBase nodelet_manager" output="screen">
        <rosparam file="$(find kobukibot)/resources/yaml/diff_drive_base.yaml" command="load" />
		<remap from="mobile_base/joint_command/wheel_left" to="joint_command/wheel_left"/>
		<remap from="mobile_base/joint_state/wheel_left" to="joint_state/wheel_left"/>
		<remap from="mobile_base/joint_command/wheel_right" to="joint_command/wheel_right"/>
		<remap from="mobile_base/joint_state/wheel_right" to="joint_state/wheel_right"/>
		<!--remap from="mobile_base/cmd_vel" to="cmd_vel"/-->
		<remap from="mobile_base/odom" to="odom_combined"/>
		<remap from="mobile_base/enable" to="enable"/>
		<remap from="mobile_base/disable" to="disable"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="cruizcore" args="load cruizcore/CruizCoreNodelet nodelet_manager" output="screen">
		<remap from="cruizcore/gyro_data" to="/robot_core/mobile_base/gyro_data"/>
		<rosparam file="$(find kobukibot)/resources/yaml/cruizcore.yaml" command="load"/>
    </node>
	<!--param name="/robot_description" command="$(find xacro)/xacro.py '$(find kobukibot)/resources/urdf/simple_laser_kobuki.xacro'" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/-->
</launch>

