<launch>
    <!-- Dynamixel Manager -->
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam file="$(find kobukibot)/resources/yaml/dynamixel_manager.yaml" command="load"/>
    </node>

    <!-- Joint Configurations -->
    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find kobukibot)/resources/yaml/dynamixel_tilt_joint_controller.yaml" command="load"/>
   
    <!-- start specified joint controllers -->
    <node name="dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port=pan_tilt_port
                --type=simple
                tilt_controller">
          output="screen"/>
    </node>
</launch>
