<?xml version="1.0"?>

<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" 
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:xacro="http://ros.org/wiki/xacro"
       name="kobuki_gazebo">
       
<xacro:macro name="kobuki_bumpers">
  <gazebo reference="base_link">
    <sensor:contact name="bumpers">
      <geom>base_footprint_geom_base_link</geom>
      <topic>bumpers</topic>
      <alwaysOn>true</alwaysOn>
      <updateRate>50</updateRate>
    </sensor:contact>
  </gazebo>
</xacro:macro>

<xacro:macro name="kobuki_cliff_sensors">
  <gazebo reference="cliff_sensor_left_link">
    <sensor:ray name="cliff_sensor_left">
      <alwaysOn>true</alwaysOn>
      <updateRate>50</updateRate>
      <rayCount>50</rayCount>
      <rangeCount>1</rangeCount>
      <resRange>1.0</resRange>
      <minAngle>-0.04361</minAngle>
      <maxAngle>0.04361</maxAngle>
      <minRange>0.01</minRange>
      <maxRange>0.15</maxRange>
      <displayRays>true</displayRays>
    </sensor:ray>
  </gazebo>

  <gazebo reference="cliff_sensor_right_link">
    <sensor:ray name="cliff_sensor_right">
      <alwaysOn>true</alwaysOn>
      <updateRate>50</updateRate>
      <rayCount>50</rayCount>
      <rangeCount>1</rangeCount>
      <resRange>1.0</resRange>
      <minAngle>-2.5</minAngle>
      <maxAngle>2.5</maxAngle>
      <minRange>0.01</minRange>
      <maxRange>0.15</maxRange>
      <displayRays>true</displayRays>
    </sensor:ray>
  </gazebo>

  <gazebo reference="cliff_sensor_front_link">
    <sensor:ray name="cliff_sensor_front">
      <alwaysOn>true</alwaysOn>
      <updateRate>50</updateRate>
      <rayCount>50</rayCount>
      <rangeCount>1</rangeCount>
      <resRange>1.0</resRange>
      <minAngle>-2.5</minAngle>
      <maxAngle>2.5</maxAngle>
      <minRange>0.01</minRange>
      <maxRange>0.15</maxRange>
      <displayRays>true</displayRays>
    </sensor:ray>
  </gazebo>
</xacro:macro>

<xacro:macro name="kobuki_sim">
  <gazebo>
    <controller:gazebo_ros_kobuki name="kobuki_controller" plugin="libgazebo_ros_kobuki.so">
      <left_wheel_joint_name>wheel_left_joint</left_wheel_joint_name>
      <right_wheel_joint_name>wheel_right_joint</right_wheel_joint_name>
      <wheel_separation>.230</wheel_separation>
      <wheel_diameter>0.070</wheel_diameter>
      <torque>1.0</torque>
      <velocity_command_timeout>0.6</velocity_command_timeout>
      <cliff_sensor_left_name>cliff_sensor_left</cliff_sensor_left_name>
      <cliff_sensor_front_name>cliff_sensor_front</cliff_sensor_front_name>
      <cliff_sensor_right_name>cliff_sensor_right</cliff_sensor_right_name>
      <cliff_detection_threshold>0.04</cliff_detection_threshold>
      <bumper_name>bumpers</bumper_name>
      <base_collision_model_link>base_link</base_collision_model_link>
    </controller:gazebo_ros_kobuki>
  </gazebo>
  
  <gazebo reference="wheel_left_link">
    <mu1 value="10"/>
    <mu2 value="10"/>
    <kp value="100000000.0"/>
    <kd value="10000.0"/>
  </gazebo>

  <gazebo reference="wheel_right_link">
    <mu1 value="10"/>
    <mu2 value="10"/>
    <kp value="100000000.0"/>
    <kd value="10000.0"/>
  </gazebo>
  
  <gazebo reference="caster_front_link">
    <mu1 value="0"/>
    <mu2 value="0"/>
    <kp value="100000000.0"/>
    <kd value="10000.0"/>
  </gazebo>
  
  <gazebo reference="caster_back_link">
    <mu1 value="0"/>
    <mu2 value="0"/>
    <kp value="100000000.0"/>
    <kd value="10000.0"/>
  </gazebo>
</xacro:macro>

<xacro:macro name="kobuki_sim_imu">
  <gazebo>
    <controller:gazebo_ros_imu name="imu_controller" plugin="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50</updateRate>
      <bodyName>gyro_link</bodyName>
      <topicName>/mobile_base/sensors/imu_data</topicName>
      <gaussianNoise>${0.0017*0.0017}</gaussianNoise>
      <xyzOffsets>0 0 0</xyzOffsets> 
      <rpyOffsets>0 0 0</rpyOffsets>
      <interface:position name="gyro_link"/>
    </controller:gazebo_ros_imu>
  </gazebo>
</xacro:macro>

</robot>
