<?xml version="1.0" ?>
<robot name="turtlebot_hardware" xmlns:xacro="http://ros.org/wiki/xacro">
  <include filename="$(find kobuki_description)/urdf/common_properties.urdf.xacro"/>
  <include filename="$(find kobuki_description)/urdf/gazebo.urdf.xacro"/>
  
  <!-- Xacro macros -->
  <xacro:macro name="wheel" params="name length radius off_x off_y off_z type">
    <joint name="${name}_joint" type="${type}">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <origin rpy="${-M_PI/2} 0 0" xyz="${off_x} ${off_y} ${off_z}"/>
      <axis xyz="0 0 1"/>
    </joint>
    <link name="${name}_link">
      <visual>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <xacro:insert_block name="material_dark_grey"/>
      </visual>
      <collision>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <xacro:insert_block name="material_dark_grey"/>      
      </collision>      
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />        
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" 
                 izz="0.001" />
      </inertial>
    </link>
<!--     TODO: Needed? -->
<!--     <gazebo reference="${name}_link"> -->
<!--       <material>Gazebo/Black</material> -->
<!--     </gazebo>    -->
  </xacro:macro>

  <!-- Kobuki -->	
  <xacro:macro name="kobuki">	  
    <link name="base_footprint"/>
   
		<joint name="base_joint" type="fixed">
			<origin xyz="0 0 0.035" rpy="0 0 0" />        
			<parent link="base_footprint"/>
			<child link="base_link" />
		</joint>
	  <link name="base_link">
	    <visual>
	      <geometry>
	        <mesh filename="package://kobuki_description/meshes/test/simple_base_new_2.stl" scale="0.001 0.001 0.001"/>
	   	  </geometry>
        <origin xyz="0.0 0 0.025" rpy="${M_PI/2} 0 ${M_PI/2}"/>
        <xacro:insert_block name="material_black" />
	    </visual>
      <collision>
        <geometry>
          <cylinder length="0.10938" radius="0.175615"/>
        </geometry>
        <origin xyz="0.0 0.0 0.03469" rpy="0 0 0"/>
      </collision>
      <inertial>
        <mass value="0.0001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0" 
                 izz="0.0001" />
      </inertial>
	  </link>
<!--     TODO: Needed? -->
<!--     <gazebo reference="base_link"> -->
<!--       <material>Gazebo/Black</material> -->
<!--     </gazebo>         -->
	  <xacro:wheel name="wheel_left"  length="0.0206" radius="0.0350" off_x="0.00"   off_y="${0.23/2}"  off_z="0.000"   
                 type="continuous">	</xacro:wheel>
	  <xacro:wheel name="wheel_right" length="0.0206" radius="0.0350" off_x="0.00"   off_y="-${0.23/2}" off_z="0.000"   
                 type="continuous">	</xacro:wheel>  
	  <xacro:wheel name="caster_front" length="0.0176" radius="0.0170" off_x="0.115"  off_y="0"          off_z="-0.0180"
                 type="fixed">      </xacro:wheel>
	  <xacro:wheel name="caster_back"  length="0.0176" radius="0.0170" off_x="-0.135" off_y="0"          off_z="-0.0160"
                 type="fixed">      </xacro:wheel>
  
    <!-- Kobuki's sensors -->
    <!-- TODO: Check placement! -->  
    <joint name="gyro_joint" type="fixed">
      <axis xyz="0 1 0"/>
      <origin xyz="0 0 0.04" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="gyro_link"/>
    </joint>
    <link name="gyro_link">
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" 
                 iyy="0.000001" iyz="0"
                 izz="0.0001"/>
      </inertial>
    </link>
	
	  <joint name="base_cliff_sensor_left_joint" type="fixed">
	    <origin xyz="0.07 0.14 0.01" rpy="0 ${M_PI/2} 0" />        
	    <parent link="base_link"/>
	    <child link="base_cliff_sensor_left_link" />
	  </joint>
	  <link name="base_cliff_sensor_left_link"/>
	
	  <joint name="base_cliff_sensor_right_joint" type="fixed">
	    <origin xyz="0.07 -0.14 0.01" rpy="0 ${M_PI/2} 0" />        
	    <parent link="base_link"/>
	    <child link="base_cliff_sensor_right_link" />
	  </joint>
    <link name="base_cliff_sensor_right_link"/>
    
    <joint name="base_cliff_sensor_front_joint" type="fixed">
      <origin xyz="0.07 -0.14 0.01" rpy="0 ${M_PI/2} 0" />        
      <parent link="base_link"/>
      <child link="base_cliff_sensor_front_link" />
    </joint>
    <link name="base_cliff_sensor_front_link"/>
   
    <!-- Simulation sensors TODO-->
    <turtlebot_sim_kobuki/>
    <turtlebot_sim_imu/>
<!--     <turtlebot_sim_cliff_sensor/> -->
  </xacro:macro>
</robot>