<?xml version="1.0"?>
<!--
  Kinect mounted on the Turtlebot 2 stack
 -->
<robot name="turtlebot2_kinect" xmlns:xacro="http://ros.org/wiki/xacro">
  <include filename="$(find kobuki_description)/urdf/common_properties.urdf.xacro"/>

  <!-- Xacro properties -->
  <xacro:property name="M_SCALE" value="0.001"/>
  <xacro:property name="turtlebot2_kinect_calib_px" value="-0.098"/>
  <xacro:property name="turtlebot2_kinect_calib_py" value="0"/>
  <xacro:property name="turtlebot2_kinect_calib_pz" value="0.259"/>
  <xacro:property name="turtlebot2_kinect_calib_or" value="0"/>
  <xacro:property name="turtlebot2_kinect_calib_op" value="0"/>
  <xacro:property name="turtlebot2_kinect_calib_oy" value="0"/>
  
  <!-- Xacro macros -->  
  <xacro:macro name="stack_kinect_pole" params="parent number x_loc y_loc z_loc">
    <joint name="pole_kinect_${number}_joint" type="fixed">
      <origin xyz="${x_loc} ${y_loc} ${z_loc}" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="pole_kinect_${number}_link"/>
    </joint>
    <link name="pole_kinect_${number}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://kobuki_description/meshes/high_res_stl/poll_kinect.stl" scale="${M_SCALE} ${M_SCALE} ${M_SCALE}"/>
        </geometry>
        <xacro:insert_block name="material_light_grey"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.0936" radius="0.006"/>
        </geometry>
        <xacro:insert_block name="material_light_grey"/>
      </collision>
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                 iyy="0.0001" iyz="0.0"
                 izz="0.0001"/>
      </inertial>
    </link>
  </xacro:macro>

  <!-- Turtlebot 2 Kinect -->
  <xacro:macro name="turtlebot2_kinect" params="parent">
	  <stack_kinect_pole parent="${parent}" number="0" x_loc="-0.1024" y_loc= "0.098" z_loc="0.259"/>
	  <stack_kinect_pole parent="${parent}" number="1" x_loc="-0.1024" y_loc="-0.098" z_loc="0.259"/>
	    
	  <joint name="kinect_joint" type="fixed">
	    <origin xyz="${turtlebot2_kinect_calib_px} ${turtlebot2_kinect_calib_py} ${turtlebot2_kinect_calib_pz}" 
	            rpy="${turtlebot2_kinect_calib_or} ${turtlebot2_kinect_calib_op} ${turtlebot2_kinect_calib_oy}"/>
	    <parent link="${parent}"/>
	    <child link="kinect_link"/>
	  </joint>  
	  <link name="kinect_link">
	    <visual>
	      <origin xyz="0 0 0" rpy="0 0 0"/>
	      <geometry>
	        <mesh filename="package://kobuki_description/meshes/kinect.dae"/>
	      </geometry>
	    </visual>  
	    <collision>
	      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
	      <geometry>
	        <box size="0.07271 0.27794 0.070"/>
	      </geometry>
	    </collision>
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                 iyy="0.01" iyz="0.0"
                 izz="0.01" />
      </inertial>  
	  </link>
	</xacro:macro>
</robot>
