<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <!-- Disable incoming velocity commands timeout to simplify the code -->
  <param name="mobile_base/cmd_vel_timeout" value="25.0"/>

  <node pkg="kobuki_factory_test" type="kobuki_factory_test" name="kobuki_factory_test" output="screen">
    <param name="camera_device_index"     value="0"/>
    <param name="camera_calibration_file" value="$(find kobuki_factory_test)/resources/camera_calibration.xml"/>
    <param name="test_result_output_file" value="/home/jorge/test_result.csv"/>
  </node>
</launch>
