<launch>
  <!-- app manager -->
  <!-- By default, robot is standalone -->
  <!-- Concert mode will get supported when it needs -->
  <arg name="robot_name" default="$(optenv ROBOT_NAME kobuki)"/>
  <arg name="robot_type" default="$(optenv ROBOT_TYPE kobuki)"/>
  <arg name="robot_icon" default="kobuki_node/kobuki_icon.png"/>
  <arg name="robot_description"       value="Beloved Kobuki"/>

  <arg name="rapp_package_whitelist" value="[rocon_apps, kobuki_rapps]"/>
  <arg name="rapp_package_blacklist"  value="[]"/>
  <arg name="auto_start_rapp"         value=""/>
  <arg name="screen"                  value="true"/>
  <arg name="auto_rapp_installation"  value="false"/>

  <!-- capabilities -->
  <arg name="capabilities"                              value="true"/>
  <arg name="capabilities_server_name"                  default="capability_server"/>
  <arg name="capabilities_nodelet_manager_name"         default="capability_server_nodelet_manager" />
  <arg name="capabilities_parameters"                   default="$(find kobuki_capabilities)/param/defaults_kobuki_capabilities.yaml"/>
  <arg name="capabilities_package_whitelist"            default="[kobuki_capabilities, std_capabilities]" /> <!-- get capabilities from these packages only -->

  <arg name="capabilities_blacklist"                    default="['std_capabilities/Diagnostics', 'std_capabilities/LaserSensor', 'std_capabilities/MultiEchoLaserSensor', 'std_capabilities/Navigation2D', 'std_capabilities/RGBDSensor', 'std_capabilities/RobotStatePublisher']"/>

  <!-- Interactions -->
  <arg name="interactions" default="false"/>
  <arg name="interactions_lists" default="[]"/> 

  <!-- Zeroconf -->
  <arg name="zeroconf"                                  default="true"/>
  <arg name="zeroconf_name"                             default="$(arg robot_name)"/>
  <arg name="zeroconf_port"                             default="11311"/>

  <include file="$(find rocon_app_manager)/launch/standalone.launch"> <!-- standalone for app manager -->
    <arg name="robot_name"                                value="$(arg robot_name)"/>
    <arg name="robot_type"                                value="$(arg robot_type)"/>
    <arg name="robot_icon"                                value="$(arg robot_icon)"/>
    <arg name="robot_description"                         value="$(arg robot_description)"/>
    <arg name="rapp_package_whitelist"                    value="$(arg rapp_package_whitelist)"/>
    <arg name="rapp_package_blacklist"                    value="$(arg rapp_package_blacklist)"/>
    <arg name="auto_start_rapp"                           value="$(arg auto_start_rapp)"/>
    <arg name="screen"                                    value="$(arg screen)"/>
    <arg name="auto_rapp_installation"                    value="$(arg auto_rapp_installation)"/>

    <arg name="capabilities"                              value="$(arg capabilities)"/>
    <arg name="capabilities_server_name"                  value="$(arg capabilities_server_name)"/>
    <arg name="capabilities_nodelet_manager_name"         value="$(arg capabilities_nodelet_manager_name)"/>
    <arg name="capabilities_parameters"                   value="$(arg capabilities_parameters)"/>
    <arg name="capabilities_package_whitelist"            value="$(arg capabilities_package_whitelist)"/>
    <arg name="capabilities_blacklist"                    value="$(arg capabilities_blacklist)"/>

    <arg name="interactions"                              value="$(arg interactions)"/>

    <arg name="zeroconf"                                  value="$(arg zeroconf)"/>
    <arg name="zeroconf_name"                             value="$(arg zeroconf_name)"/>
    <arg name="zeroconf_port"                             value="$(arg zeroconf_port)"/>
  </include>
</launch>
