<?xml version="1.0" ?>

<!--  
  == USAGE ==
  
  - loaded into the kinematics node (move_arm.launch).
  - loaded into model viewer (view_model.launch).
  - loaded into robot viewer (view_robot.launch).
  
  == TODO ==
  
   - redo with real parameters later!
   - finish arm visuals
   
  == UPDATE ==
  
  If changing anything here, be sure to:
  
  - yaml/robot/*.yaml (joint name strings)
  - yaml/robot/joints.yaml (joint limits)
  - yaml/mobile_base/diff_drive_base.yaml (wheel name strings, bias, wheel_radius)
  - yaml/mechanisms/gripper,head,stereo_came_tilt.controller (joint name strings)
  - goo/*.yaml (actuator_name strings)
-->
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="kobuki"
  >

  <!-- ************************** Xacro ************************** -->

  <xacro:property name="bias" value="0.3" />
  <xacro:property name="wheel_radius" value="0.075" />
  <xacro:property name="pi" value="3.1415926535897931" />
  <xacro:property name="material_white">
    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>
  </xacro:property>
  <xacro:property name="material_orange">
    <material name="orange">
      <color rgba="1.0 0.7 0.0 1"/>
    </material>
  </xacro:property>
  <xacro:property name="material_grey_blue">
    <material name="grey_blue">
      <color rgba="0.4 0.4 1.0 1"/>
    </material>
  </xacro:property>
  <xacro:property name="material_blue">
    <material name="blue">
      <color rgba="0.0 0.0 1.0 1"/>
    </material>
  </xacro:property>
  <xacro:property name="material_green">
    <material name="green">
      <color rgba="0 .8 0 1"/>
    </material>
  </xacro:property>
  <xacro:property name="material_black">
    <material name="black">
      <color rgba="0.1 0.1 0.1 1"/>
    </material>
  </xacro:property>
  <xacro:macro name="wheel" params="name length radius off_x off_y off_z type">
    <link name="${name}">
      <visual>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
     	  </geometry>
        <origin rpy="0 ${pi/2} 0" xyz="0 0 0"/>
        <material name="black">
          <color rgba="0.1 0.1 0.1 1"/>
        </material>
      </visual>
    </link>
    <joint name="${name}" type="${type}">
      <parent link="base_link"/>
      <child link="${name}"/>
      <origin rpy="0 0 ${pi/2}" xyz="${off_x} ${off_y} ${off_z}"/>
    </joint>
  </xacro:macro>
  
  <!-- ************************** Base *************************** -->

  <link name="robot_base">
    <visual>
      <geometry>
        <cylinder length="0.358" radius="0.25"/>
   	  </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.179"/>
      <xacro:insert_block name="material_white" />
    </visual>
  </link>
<!--
  <xacro:wheel name="wheel_left" length="0.03" radius="${wheel_radius}" off_x="-0.1" off_y="${bias/2}" off_z="0.0375" type="continuous"/>
  <xacro:wheel name="wheel_right" length="0.03" radius="${wheel_radius}" off_x="-0.1" off_y="-${bias/2}" off_z="0.0375" type="continuous"/>
  <xacro:wheel name="caster_left" length="0.02" radius="0.05" off_x="0.1" off_y="0.1" off_z="0.0125" type="fixed"/>
  <xacro:wheel name="caster_right" length="0.02" radius="0.05" off_x="0.1" off_y="-0.1" off_z="0.0125" type="fixed"/>
-->

</robot>
