<launch>

  <arg name="map_file" default="$(find kobukibot)/resources/map/fifth_element_kinect.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find kobukibot)/resources/launch/navigation/amcl_kobukibot.launch" />


  <!--- Run Move Base and Robot Pose EKF -->
  <include file="$(find kobukibot)/resources/launch/navigation/move_base_kobukibot.launch" />


</launch>
