<!--
  This is a robot specific configuration for the kobuki runtime.
 -->
<launch>
  <arg name="simulation" value="false"/>
  <param name="/use_sim_time" value="$(arg simulation)"/>

  <group ns="kobuki">
    <include file="$(find kobuki_meta)/resources/launch/components/base.launch">
      <arg name="simulation" value="$(arg simulation)"/>
    </include>
  </group>
</launch>
