<!--
  This is a robot specific configuration for the kobuki runtime.
 -->
<launch>
  <arg name="simulation" value="false"/>
  <include file="$(find kobukibot)/resources/launch/components/robot_core.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <node name="remote_mutex" pkg="remote_mutex" type="mutex" args="iclebo" respawn="true" output="screen"/>
  <node name="pano_capture" pkg="pano_ros" type="capture_server.py" respawn="true" output="screen"/>
  <node name="pano_capture_client" pkg="kobukibot_panorama" type="panorama" respawn="true" output="screen"/>
</launch>
