<launch>
  <include file="$(find kobuki_meta)/resources/launch/robot_description.launch" />
  <param name="use_sim_time" value="true" />

   <!--- Run gmapping -->
  <include file="$(find kobuki_meta)/resources/launch/navigation/gmapping_kobukibot.launch" />

  <!--- Run Move Base and Robot Pose EKF -->
  <include file="$(find kobuki_meta)/resources/launch/navigation/move_base_kobukibot.launch" />
</launch>
