<launch>
<!--group ns="kobuki"-->
<group ns="robot_model">
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kobuki_meta)/resources/urdf/kinect_laser_kobuki.xacro'" />
  <param name="use_gui" value="false"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="rate" value="50"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="robot_state_publisher/robot_description" to="robot_description"/>
  </node>
</group>
</launch>
