<!-- 
  Control Kobuki in Gazebo using interactive markers in RViz 
  For this to work you need to have the turtlebot_interactive_markers package installed.
 -->
<launch>
  <!-- start interactive markers server -->  
  <node pkg="turtlebot_interactive_markers" type="turtlebot_marker_server" name="turtlebot_marker_server">
    <param name="link_name" value="/base_footprint" type="string"/>
    <param name="linear_scale"  value="0.5" type="double"/>
    <param name="angular_scale"  value="1.0" type="double"/>
    <remap from="/cmd_vel" to="cmd_vel"/>
  </node>
  
  <!-- start Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kobuki_gazebo)/config/interactive_markers.vcg" />
</launch>