<!--
  This is a robot specific configuration for the kobuki runtime.
 -->
<launch>
  <arg name="simulation" value="false"/>
  <include file="$(find kobuki_meta)/resources/launch/components/robot_core.launch">
    <arg name="simulation" value="$(arg simulation)"/>
  </include>
  <include file="$(find kobuki_meta)/resources/launch/joyop.launch"/>
</launch>
