<launch>
    <node pkg="kobuki_keyop" type="keyop" name="keyop" output="screen">
        <remap from="keyop/enable" to="/enable"/>
        <remap from="keyop/disable" to="/disable"/>
        <remap from="keyop/cmd_vel" to="/cmd_vel"/>
        <remap from="keyop/mobile_robot/reset_odometry" to="/mobile_base/reset_odometry"/>

        <param name="linear_vel_step"  value="0.05" type="double"/>
        <param name="linear_vel_max"   value="1.5"  type="double"/>
        <param name="angular_vel_step" value="0.33" type="double"/>
        <param name="angular_vel_max"  value="6.6"  type="double"/>
        <!--param name="mode"             value="simple" type="string"/-->
    </node>
</launch>
