<!--
  Keyop configuration for working with the default kobuki launcher (kobuki.launch). 
 -->
<launch>
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load cmd_vel_mux/CmdVelMuxNodelet kobuki">
    <param name="cmd_vel_mux/subscribers_cfg_file" value="$(find kobuki_node)/param/keyop_mux.yaml"/>
    <remap from="cmd_vel_mux/velocity/safety_controller" to="mobile_base/commands/velocity/safety_controller"/>
    <remap from="cmd_vel_mux/velocity/keyop" to="mobile_base/commands/velocity/keyop"/>
    <remap from="cmd_vel_mux/mux_cmd_vel" to="mobile_base/commands/velocity"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="kobuki_safety_controller" args="load kobuki_safety_controller/SafetyControllerNodelet kobuki">
    <remap from="kobuki_safety_controller/cmd_vel" to="mobile_base/commands/velocity/safety_controller"/>
    <remap from="kobuki_safety_controller/events/bumper" to="mobile_base/events/bumper"/>
    <remap from="kobuki_safety_controller/events/cliff" to="mobile_base/events/cliff"/>
    <remap from="kobuki_safety_controller/events/wheel_drop" to="mobile_base/events/wheel_drop"/>
  </node>
  
  <node pkg="kobuki_keyop" type="keyop" name="keyop" output="screen">
    <remap from="keyop/enable" to="mobile_base/enable"/>
    <remap from="keyop/disable" to="mobile_base/disable"/>
    <remap from="keyop/cmd_vel" to="mobile_base/commands/velocity/keyop"/>
    <remap from="keyop/mobile_robot/reset_odometry" to="mobile_base/reset_odometry"/>
    <param name="linear_vel_step"  value="0.05" type="double"/>
    <param name="linear_vel_max"   value="1.5"  type="double"/>
    <param name="angular_vel_step" value="0.33" type="double"/>
    <param name="angular_vel_max"  value="6.6"  type="double"/>
    <!--param name="mode"             value="simple" type="string"/-->
  </node>
</launch>
