<!--
  The mobile platform base - nodelet version.
  
  We use this to move kobuki driver public topics/services out from their 
  private namespace (maybe should do that in kobuki_node itself?)
 -->
<launch>
  <arg name="base" value="kobuki"/>
  <node pkg="nodelet" type="nodelet" name="kobuki_nodelet_manager"  args="manager"/>
  <node pkg="nodelet" type="nodelet" name="kobuki_node" args="load kobuki_node/KobukiNodelet kobuki_manager">
    <rosparam file="$(find turtlebot_bringup)/param/$(arg base)/base.yaml" command="load"/>
    <remap from="kobuki_node/odom" to="odom"/>
    <remap from="kobuki_node/cmd_vel" to="cmd_vel"/>
    <remap from="kobuki_node/enable" to="enable"/>
    <remap from="kobuki_node/disable" to="disable"/>
    <remap from="kobuki_node/joint_states" to="joint_states"/>
  </node>
</launch>