<launch>
    <node pkg="keyop_core" type="keyop" name="keyop" output="screen">
        <remap from="keyop/enable" to="/kobuki_ros_node/enable"/>
        <remap from="keyop/disable" to="/kobuki_ros_node/disable"/>
        <remap from="keyop/cmd_vel" to="/kobuki_ros_node/cmd_vel"/>
        <remap from="keyop/reset_odometry" to="/kobuki_ros_node/mobile_base/reset_odometry"/>
 		<param name="linear_vel_step"  value="0.05"  type="double"/>
 		<param name="linear_vel_max"   value="0.5"  type="double"/>
    	<param name="angular_vel_step" value="0.33" type="double"/>
    	<param name="angular_vel_max"  value="3.3" type="double"/>
    </node>
</launch>
